@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background: rgba(17, 17, 17, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  border-radius: .08rem;
  text-align: center;
  > i {
    display: inline-block;
    width: .36rem;
    height: .36rem;
    margin-top: .2rem;
    background: url("~/assets/img/loading.png") center/100% no-repeat;
    animation: circle 0.5s steps(12, end) infinite;
  }
  > h4 {
    position: absolute;
    bottom: .14rem;
    width: 100%;
    font-size: .13rem;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}
